<%= @comment.commenter %>: <%= @comment.comment %><br>

<%= link_to 'Back', :back, class: "small text-decoration-none" %> |
<%= link_to 'Edit', edit_comment_path(@comment), class: "small text-decoration-none" %> |
<%= link_to 'Create New Subcomment', new_comment_comment_path(@comment), class: "small text-decoration-none" %>

<br>
<br>

<% if @subcomments %>
    <% for subcomment in @subcomments %>
        <p><%= link_to subcomment.commenter + ": " + subcomment.comment, comment_path(subcomment), class: "text-decoration-none" %><br>
        <%= link_to 'Reply', new_comment_comment_path(subcomment), class: "small text-decoration-none" %> | 
        <%= link_to 'Edit', edit_comment_path(subcomment), class: "small text-decoration-none" %> | 
        <%= link_to 'Delete', comment_path(subcomment), class: "small text-decoration-none", data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
        } %></p>
    <% end %>
<% end %>