<h1>
    Index
</h1>

<%= link_to 'Create New Subreddit', new_subreddit_path, class: "small text-decoration-none" %><br>

<p class="small text-decoration-none">
    <% if @page_number > 0 %>
        <%= link_to 'Previous', page_path(@page_number - 1) %>
    <% else %>
        Previous
    <% end %> | 

    Page: <%= @page_number + 1 %> of <%= @total_pages + 1 %> | 

    <% if @page_number != @total_pages %>
        <%= link_to 'Next', page_path(@page_number + 1) %>
    <% else %>
        Next
    <% end %>
</p>

<br>

<ol>
    <% for subreddit in @subreddits %>
        <li>
            <span class="h3"><%= link_to subreddit.title, subreddit, class: "text-decoration-none" %></span>
            <span class="small fst-italics">By <%= subreddit.author %></span>

            <% if @user_id && subreddit[:user_id] == @user_id %>
                <p><%= link_to 'Edit', edit_subreddit_path(subreddit), class: "small text-decoration-none" %> |
                <%= link_to 'Delete', subreddit_path(subreddit), class: "small text-decoration-none", data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                } %></p>
            <% end %>
            
        </li>
    <% end %>
</ol>