<h1>
    <%= @subreddit.title %>
</h1>

<p>
    <%= @subreddit.body %>
</p>

<p>
    <%= link_to 'Back', :back, class: "small text-decoration-none" %> |
    <%= link_to 'Reply', new_subreddit_comment_path(@subreddit), class: "small text-decoration-none" %> |
    <%= link_to 'Edit', edit_subreddit_path(@subreddit), class: "small text-decoration-none" %> |
    <%= link_to 'Delete', subreddit_path(@subreddit), class: "small text-decoration-none", data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
    } %>
</p>

<br>

<p class="small text-decoration-none">
    <% if @page_number != 0 %>
        <%= link_to 'Previous', subreddit_page_path(page: @page_number - 1, subreddit_id: @id) %>
    <% else %>
        Previous
    <% end %> | 

    Page: <%= @page_number + 1 %> of <%= @total_pages + 1 %> | 

    <% if @page_number != @total_pages %>
        <%= link_to 'Next', subreddit_page_path(page: @page_number + 1, subreddit_id: @id) %>
    <% else %>
        Next
    <% end %>
</p>

<br>

<% for comment in @comments %>
    <p><%= link_to comment.commenter + ": " + comment.comment, comment_page_path(comment_id: comment[:id], page: 0), class: "text-decoration-none" %><br>
    <%= link_to 'Reply', new_comment_comment_path(comment), class: "small text-decoration-none" %> | 
    <%= link_to 'Edit', edit_comment_path(comment), class: "small text-decoration-none" %> | 
    <%= link_to 'Delete', comment_path(comment), class: "small text-decoration-none", data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
    } %></p>
<% end %>